@import "tailwindcss";

body {
  background-color: #f6f8ff;
}
header {
  max-width: 1140px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.navbar > ul {
  display: flex;
  gap: 48px;
}

.banner-container {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lover-part {
  position: relative; /* allows absolute children to be positioned relative to this */
  display: flex;
  gap: 60px;
  justify-content: center;
}

.lover-images {
  position: relative;
}

.second-image {
  position: absolute;
  top: -140px;
  left: 340px;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
}

.lover-lists {
  width: 50%;
}

.shade-image {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}

.images-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}
.spanned {
  grid-row: span 2;
}

.second-part > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

@media screen and (max-width: 576px) {
  .cards-section {
    max-width: 600px;
    margin: 0 auto;
  }
  .new-class {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  nav {
    gap: 185px;
    margin-left: 16px;
    margin-right: 16px;
    text-wrap: nowrap;
  }

  .banner-container {
    flex-direction: column-reverse;
    align-items: normal;
    /* justify-content: right; */
  }
  .banner-image {
    width: 100%;
  }

  .banner-content {
    margin-top: 40px;
    margin-left: 16px;
  }
  .all-cards {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 16px;
    margin-right: 15px;
  }

  main {
    max-width: 366px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .lover-part {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  .lover-images {
    width: 100%;
  }

  .second-image {
    display: none;
  }
  .lover-lists > ul > li {
    width: 361px;
  }
  .lover-lists > h1 {
    width: 361px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }

  .lover-lists > ul {
    margin-left: 25px;
    font-size: 14px;
  }
  .lover-lists > ul > li {
    width: 340px;
  }

  .images-part {
    display: flex;
    flex-direction: column;
  }

  .spanned > h1 {
    font-size: 20px;
  }
  .spanned > h2 {
    font-size: 16px;
  }
  .images-part > div:nth-child(1) {
    order: 1;
    width: 361px;
  }

  .images-part > div:nth-child(2) {
    order: 3; /* Zabo should come last */
    width: 361px;
  }

  .images-part > div:nth-child(3) {
    order: 2; /* Ana should come second */
    width: 361px;
  }

  footer {
    /* width: 100%; */
    max-width: 393px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .deals-title-part > p {
    max-width: 361px;
    font-size: 14px;
    margin-bottom: 51px;
  }
  .subscribe-button input {
    width: 218px;
  }

  .subscribe-button > button {
    width: 103px;
  }
  .footer-title h1 {
    font-size: 20px;
  }
  .end-part {
    max-width: 393px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 20px;
  }
  .second-part > ul {
    display: flex;
    flex-direction: column;
  }
}
